.InputBar {
  display: flex;
  background: #fff;
  min-height: 50px;
}

.InputBar textarea {
  flex-grow: 1;
  outline: 0;
  display: flex;
  padding: 1rem;
  resize: none;
  border: none;
}

.InputBar .Button--send {
  margin: 4px;
}
