.SettingsMenu {
  width: 100%;
}

.Settings__box {
  display: flex;
  background:  #F7F8FA;
  border-top: 1px solid  #E8ECEE;
  border-bottom: 1px solid  #E8ECEE;
  justify-content: flex-start;
  width: 100%;
  font-size: 12px;
  color: #8f8f8f;
  align-items: center;
}

.Settings__avatar {
  margin: 1rem;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  width: 58px;
  height: 58px;
  overflow: hidden;
}

.Settings__avatar img {
  width: 100%;
}

.Settings__operator {
  word-break: break-word;
}
