{
  "presets": [ [ "env", {
    "targets": {
      "electron": ["4"]
    },
    "useBuiltIns": "usage"
  } ] ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-jsx"
  ]
}
