
.MessageList {
  background: #e3eaf0;
  flex-grow: 1;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ML-m-client {
  color: white;
  background: #3498db;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2px;
  align-self: flex-end;
  max-width: 45%;
}

.MessageList__message-operator {
  color: white;
  background: #e67e22;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2px;
  align-self: flex-end;
}


.MessageList__empty {
  align-self: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.MessageList__box {
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 0.25rem;
  display: flex;
  flex-direction: column;
}
