:focus {
  outline-offset: 0;
}

.App {
  display: flex;
  font-family: Arial, Sans-serif;
}

.App__mainview {
  display: flex;
  flex-grow: 2;
}

.App__settingsview {
  background: #e3eaf0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
};