.OperatorClientMenu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.OperatorClient__Menu__item {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.OperatorClient__Menu__item:hover {
  background: #fafafa;
}

.OperatorClient__selectedFilter {
  display: flex;
  background: #fafafa;
  border: none;
  outline: 0;
  height: 100%;
  width: 100%;
  padding: 15px 15px 15px 15px;
  border-left: 3px solid rgba(231, 76, 60, 1.0);
}

.OperatorClient__filter {
  display: flex;
  background: #fdfdfd;
  border: none;
  outline: 0;
  padding: 15px 15px 15px 15px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-left: 3px solid #fdfdfd;
}

.OperatorClient__filter:hover {
  background: #fafafa;
  border-left: 3px solid rgba(231, 76, 60, 1.0);
}
