.Settings {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.Settings__header {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 50px; /* helps align with minimal chat top left bar thing */
  color: #595959;
  border-bottom: 1px solid #D5D5D5;
}

.Settings__body {
  margin: 2rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.Settings__single {
  display: flex;
  margin: 1rem 0;
  align-content: center;
  justify-content: space-between;
}

.Settings__notification-label {
  font-size: 18px;
  color: #919191;
  align-self: center;
}

.Settings__operator-label {
  font-size: 18px;
  color: #919191;
  align-self: center;
  padding-right: 1rem;
  flex-grow: 3;
}

.Settings__operator-name {
  outline: 0;
  display: flex;
  padding: 0.8rem;
  resize: none;
  border: none;
  border-radius: 2px;
  flex-grow: 2;
}

.Settings__operator-name:focus {
  outline-offset: 0;
}