.OperatorPanel {
  background: #fdfdfd;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column; 
  width: 200px;
  z-index: 4;
}


.OperatorPanel__header {
  align-self: center;
  color: #afafaf;
  display: flex;
  flex-direction: column;
  font-family: courier;
  font-size: 12px;
  height: 50px;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.OperatorPanel__footer {
  color: #777;
  font-size: 10px;
  text-align: center;
}


.OperatorPanel__settings {
  align-items: center;
  background:  #F7F8FA;
  border: none;
  border-bottom: 1px solid  #E8ECEE;
  border-top: 1px solid  #E8ECEE;
  color: #8f8f8f;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  width: 100%;
}

/*
.OperatorPanel__settings:focus {
  outline: none;
}
*/

.OperatorPanel__settings:hover {
  background:  #EFF0F2;
}

.OperatorPanel__settings:active {
  background:  #E8E9EB;
}


.OperatorPanel__madewith {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
