.ClientCard {
  display: flex;
  height: 3rem;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.ClientCard__btn {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
}

.ClientCard--active .ClientCard__btn,
.ClientCard__btn:hover {
  background: #fdfdfd;
}

.ClientCard--active .ClientCard__btn .ClientCard__icon,
.ClientCard__btn:hover .ClientCard__icon {
  color: rgba(52, 152, 219, 1.0);
}

.ClientCard__icon {
  flex-grow: 1;
  height: 100%;
  padding: 8px 8px 0;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 18px;
  color: #ccc;
}

.ClientCard__information {
  flex-grow: 20;
}

.ClientCard__information-row {
  display: flex;
}

.ClientCard__name {
  flex-grow: 4;
  text-align: left;
}

.ClientCard__status {
  flex-grow: 1;
  text-align: right;
  position: relative;
}

.ClientCard__status:after {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 0;
}

.ClientCard__status--offline:after {
  background: rgba(236, 240, 241, 1.0);
}

.ClientCard__status--online:after {
  background: rgba(46, 204, 113, 1.0);
}

.ClientCard__lastmsg {
  flex-grow: 4;
  text-align: left;
  font-style: italic;
  font-size: 11px;
  color: #555;
  overflow: hidden;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ClientCard__lastmsgtime {
  flex-grow: 1;
  text-align: right;
  font-style: italic;
  font-size: 11px;
  padding-right: 10px;
  color: #555;
}

