.ClientCard {
  display: flex;
  height: 3rem;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.ClientCard__btn {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
}

.ClientCard.active .ClientCard__btn,
.ClientCard__btn:hover {
  background: #fdfdfd;
}

.ClientCard.active .ClientCard__btn .ClientCard__icon,
.ClientCard__btn:hover .ClientCard__icon {
  color: rgba(52, 152, 219, 1.0);
}

.ClientCard__icon {
  flex-grow: 1;
  height: 100%;
  padding: 8px 8px 0;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 18px;
  color: #ccc;
}

.ClientCard__information {
  flex-grow: 20;
}

.ClientCard__information-row {
  display: flex;
}

.ClientCard__name {
  flex-grow: 4;
  text-align: left;
}

.ClientCard__status {
  flex-grow: 1;
  text-align: right;
}

.ClientCard__lastmsg {
  flex-grow: 4;
  text-align: left;
  font-style: italic;
  font-size: 11px;
  color: #555;
}

.ClientCard__lastmsg:before,
.ClientCard__lastmsg:after {
  content: "\"";
  color: #555;
}

.ClientCard__lastmsgtime {
  flex-grow: 1;
  text-align: right;
  font-style: italic;
  font-size: 11px;
  padding-right: 10px;
  color: #555;
}

