.Message__client {
  align-self: flex-end;
  background: #ffffff;
  border-radius: 10px 10px 0 10px;
  color: #000;
  float: left;
  font-size: 12px;
  letter-spacing: 1px;
  list-style: none;
  margin-top: 6px;
  margin-right: 6px;
  /* account for absolutely position time of messages below msg: */
  margin-bottom: 24px;
  max-width: 45%;
  min-width: 25%;
  padding: 10px;
  text-align: left;
  position: relative;
}

.Message__client ul li {
  text-align: right;
}

.Message__client.typing {
  padding: 3px 10px 3px 10px;
  min-width: auto;
}

.Message__time {
  position: absolute;
  bottom: -14px;
  right: 0px;
  color: rgba(149, 165, 166,1.0);
  font-size: 9px;
  font-style: italic;
  width: 94px;
  text-align: right;
  letter-spacing: 0.4px;
}

.Message__operator {
  align-self: flex-start;
  background: #0a6bef;
  border-radius: 10px 10px 10px 0;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 45%;
  min-width: 25%;
}

.Message__operator ul,
.Message__client ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Message__operator ul li {
  text-align: left;
}
